<h1>print page</h1>
{{#with printer}}
    <div class="printer">
        <p class="printer__text">Title: {{title}}</p>
        <p class="printer__text">Ip: {{ip}}</p>
        <p class="printer__text">Model: {{model}}</p>
        <p class="printer__text">Multifunctional: {{multifunctional}}</p>
        <p class="printer__text">Area: {{area}}</p>
        <p class="printer__text">Location: {{location}}</p>
        {{>add-supply-printer}}
        {{>history history=history}}
        <a class="btn btn--active" href='/printers/delete/{{_id}}'>Delete</a>
        <a class="btn btn--active" href='/printers/update/{{_id}}'>Edit</a>
    </div>
{{/with}}
