<h1>printers page</h1>

<table class="table">
    <thead class="table__head">
    <tr class="table__row--main">List of printers</tr>
    <tr class="table__row--title table__row" colspan="6">
        <td class="table__data">TITLE</td>
        <td class="table__data">IP</td>
        <td class="table__data">MODEL</td>
        <td class="table__data">MULTIFUNCTIONAL</td>
        <td class="table__data">AREA</td>
        <td class="table__data">LOCATION</td>
        <td colspan="3">ACTION</td>
    </tr>
    </thead>
    <tbody class="table__body">
    {{#each printers}}

        <div class="table__ctn" data-id="{{_id}}">
           <tr class="table__row" data-ip="{{_id}}">
                <td class="table__data">{{title}}</td>
                <td class="table__data">{{ip}}</td>
                <td class="table__data">{{model}}</td>
                <td class="table__data">{{multifunctional}}</td>
                <td class="table__data">{{area}}</td>
                <td class="table__data">{{location}}</td>
                <td class="table__data">
                    <a class="btn btn--manage" href='/printers/{{_id}}'>Manage</a>
                </td>
                <td class="table__data">
                    <a class="btn btn--edit" href="#" data-id="{{_id}}">Edit</a>
                </td>
                <td class="table__data">
                    <a class="btn btn--delete" href='/printers/delete/{{_id}}'>Delete</a>
                </td>
           </tr>
            <tr class="table__row table__row--hidden" data-ip="{{_id}}">
                <form action="/printers/update" method="post">
                    <input type="hidden" name="printerId" value="{{_id}}">
                    <td class="table__text">
                        <input type="text" class="tableForm__input" name="title" value="{{title}}"></td>
                    <td class="table__text">
                        <input type="text" class="tableForm__input" name="ip" value="{{ip}}">
                    </td>
                    <td class="table__text">
                        <select name="model">
                            <option value="Xerox_AltaLink_C8035">Xerox AltaLink C8035</option>
                            <option value="Xerox_VersaLink_C605">Xerox VersaLink C605</option>
                            <option value="Xerox_VersaLink_C400">Xerox VersaLink C400</option>
                        </select>
                    </td>
                    <td class="table__text">
                        <input type="text" class="tableForm__input" disabled value="{{multifunctional}}">
                    </td>
                    <td class="table__text">
                        <input type="text" class="tableForm__input" name="area" value="{{area}}">
                    </td>
                    <td class="table__text">
                        <input type="text" class="tableForm__input" name="location" value="{{location}}">
                    </td>
                    <td>
                        <button type="submit">Save</button>
                    </td>
                </form>
            </tr>

    {{/each}}
    <tr>
        <form action="/printers/create" method="post">
            <td class="table__text"><input type="text" class="tableForm__input" name="title"></td>
            <td class="table__text"><input type="text" class="tableForm__input" name="ip"></td>
            <td class="table__text"><select name="model">
                <option value="Xerox_AltaLink_C8035">Xerox AltaLink C8035</option>
                <option value="Xerox_VersaLink_C605">Xerox VersaLink C605</option>
                <option value="Xerox_VersaLink_C400">Xerox VersaLink C400</option>
            </select></td>
            <td class="table__text"><input type="text" class="tableForm__input" disabled></td>
            <td class="table__text"><input type="text" class="tableForm__input" name="area"></td>
            <td class="table__text"><input type="text" class="tableForm__input" name="location"></td>
            <td>
                <button type="submit">Add printer</button>
            </td>
        </form>
    </tr>
    </tbody>

</table>
